<ion-view title="註冊" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="page8-form3" class="list">
      <ion-list id="page8-list4">
        <label class="item item-input" id="page8-input6">
          <span class="input-label">暱稱</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="page8-input7">
          <span class="input-label">信箱</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="page8-input8">
          <span class="input-label">密碼</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <button id="page8-button4" class="button button-stable button-block">送出</button>
    </form>
  </ion-content>
</ion-view>