<ion-view title="登入" id="page7">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/0g0DgymTRwSHDlQLkWKE_LOGO_001.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <form id="page7-form2" class="list">
      <ion-list id="page7-list5">
        <label class="item item-input" id="page7-input9">
          <span class="input-label">信箱</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="page7-input10">
          <span class="input-label">密碼</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <button id="page7-button2" class="button button-stable button-block">登入</button>
      <a ui-sref="menu.page8()" id="page7-button3" class="button button-positive button-block button-clear">註冊</a>
    </form>
  </ion-content>
</ion-view>