<ion-view title="登入" hide-nav-bar="true" id="page4">
  <ion-content padding="true" style="background: url(img/4QEiIGRYyQRzruhnL9MQ_bg01.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
    <form id="page4-form1" class="list">
      <div class="spacer" style="height: 40px;"></div>
      <div>
        <img src="img/bkcynZJNQ8WGjhwkNhlR_Derine_LOGO.jpg" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="height: 40px;"></div>
      <ion-list id="page4-list2">
        <label class="item item-input" id="page4-input1">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="page4-input2">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 20px;"></div>
      <a href-inappbrowser="https://chanrytw.github.io/ionic/index.html#/menu/Derine" id="page4-button1" class="button button-stable button-block">登入</a>
      <a ui-sref="menu.page6()" id="page4-button3" class="button button-stable button-block">註冊</a>
      <button id="page4-button2" style="font-size:10px;" class="button button-positive button-block button-clear">忘記密碼?</button>
    </form>
  </ion-content>
</ion-view>