<ion-view title="儀器監控系統" id="page2">
  <ion-content padding="true" style="background: url(img/001.png) no-repeat center;background-size:cover;" class="has-header">
    <h1 id="page2-heading2">儀器監控系統</h1>
    <h4 id="timeStr">00 : 00</h4>
    <div id="page2-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#ffffff;">當點滴容量剩餘20%以下時水波為紅色，20%到50%為黃色，50%以上則為藍色，點擊該點滴可設定初始值。</p>
      <p style="color:#ffffff;"><b id="menu-heading1" style="color:rgb(255, 187, 0);">{使用者}</b>您好，依據您的單位給予預設顯示<b style="color:rgb(221, 255, 68);">C棟5樓 </b>病床資訊，如預觀看其他病床資訊請點選列表切換。</p>
    </div>

    <div class="row">
      <div class="lightbox col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">處於紅色該更換的點滴：1個</div>
      <div class="lightbox col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">處於黃色需留意的點滴：3個</div>
      <div class="lightbox col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">處於藍色正常的點滴：14個</div>
    </div>

    <div class="card card-page2">
      <div class="item item-divider">
        C棟5樓
      </div>
      <div class="row row1"">
        
      </div>
    </div>

    


  </ion-content>
</ion-view>