<ion-view title="歡迎頁面" hide-nav-bar="true" id="page5">
  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': false}" slider="slider1" delegate-handle="slider1" id="page5-slider1" style="width:calc(100% + 20px);height:100%;margin-left:-10px;">
      <ion-slide-page id="page5-slide24" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="page5-slide25" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="page5-slide26" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;">
        <a ui-sref="menu.page4()" id="page5-button4" class="button button-stable button-block">開始</a>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>