<ion-view title="儀器監控系統" id="page5">
  <ion-content style="background: url(img/002.jpg) no-repeat center;background-size:cover;padding:60px; " padding="true" scroll="false" class="has-header">
    <form id="page5-form1" class="list">
      <div class="spacer" style="height: 30px;"></div>
      <div>
        <img src="img/LOGO.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="height: 30px;"></div>
      <ion-list id="page5-list2">
        <label class="item item-input" id="page5-label1">
          <span id="page5-span1" class="input-label">信箱 :</span>
          <input id="page5-input1" type="email" placeholder="">
        </label>
        <label class="item item-input" id="page5-label2">
          <span id="page5-span2" class="input-label">密碼 :</span>
          <input id="page5-input2" type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 20px;"></div>
      <button id="page5-button1" class="button button-stable button-block">登入</button>
    </form>
  </ion-content>
</ion-view>