<ion-view title="儀器監控系統" id="page2">
  <ion-content padding="true" style="background: url(img/001.png) no-repeat center;background-size:cover;" class="has-header">
    <h1 id="page2-heading2">儀器監控系統</h1>
    <h4 id="timeStr">00 : 00</h4>
    <div id="page2-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#ffffff;">當點滴容量剩餘20%以下時水波為紅色，20%到50%為黃色，50%以上則為藍色，點擊該點滴可設定初始值。</p>
      <p style="color:#ffffff;"><b id="menu-heading1" style="color:rgb(255, 187, 0);">{使用者}</b>您好，依據您的單位給予預設顯示<b style="color:rgb(221, 255, 68);">C棟5樓 </b>病床資訊，如預觀看其他病床資訊請點選列表切換。</p>
    </div>

    <div class="card card-page2">
      <div class="item item-divider">
        C棟5樓
      </div>
      <div class="row">
        <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" id="col1">
          <div class="infobox1">
            ABCD12345670<br>
            2017-12-07 04:07:20<br>
            護理師：Mary<br>
            病床號：A-3-01-00<br>
            藥品名：IV-1<br>
            計算已滴數量:121<br>
            滴速(滴量/分鐘)：63<br>
            點滴袋容量：342/500ml<br>
            預測剩餘時間：00:32:46<br>
          </div>
          <div class="bgbox1"></div><br><br><br><br><br><br><br><br><br>
        </div>
        <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" id="col2">
          <div class="infobox2">
            ABCD12345670<br>
            2017-12-07 04:07:20<br>
            護理師：Mary<br>
            病床號：A-3-01-00<br>
            藥品名：IV-1<br>
            計算已滴數量:121<br>
            滴速(滴量/分鐘)：63<br>
            點滴袋容量：342/500ml<br>
            預測剩餘時間：00:32:46<br>
          </div>
          <div class="bgbox2"></div><br><br><br><br><br><br><br><br><br>
        </div>
        <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" id="col3">
          <div class="infobox3">
            ABCD12345670<br>
            2017-12-07 04:07:20<br>
            護理師：Mary<br>
            病床號：A-3-01-00<br>
            藥品名：IV-1<br>
            計算已滴數量:121<br>
            滴速(滴量/分鐘)：63<br>
            點滴袋容量：342/500ml<br>
            預測剩餘時間：00:32:46<br>
          </div>
          <div class="bgbox3"></div><br><br><br><br><br><br><br><br><br>
        </div>
        <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" id="col4">
          <div class="infobox4">
            ABCD12345670<br>
            2017-12-07 04:07:20<br>
            護理師：Mary<br>
            病床號：A-3-01-00<br>
            藥品名：IV-1<br>
            計算已滴數量:121<br>
            滴速(滴量/分鐘)：63<br>
            點滴袋容量：342/500ml<br>
            預測剩餘時間：00:32:46<br>
          </div>
          <div class="bgbox4"></div><br><br><br><br><br><br><br><br><br>
        </div>
        <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" id="col5">
          <div class="infobox5">
            ABCD12345670<br>
            2017-12-07 04:07:20<br>
            護理師：Mary<br>
            病床號：A-3-01-00<br>
            藥品名：IV-1<br>
            計算已滴數量:121<br>
            滴速(滴量/分鐘)：63<br>
            點滴袋容量：342/500ml<br>
            預測剩餘時間：00:32:46<br>
          </div>
          <div class="bgbox5"></div><br><br><br><br><br><br><br><br><br>
        </div>
        <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" id="col6">
          <div class="infobox6">
            ABCD12345670<br>
            2017-12-07 04:07:20<br>
            護理師：Mary<br>
            病床號：A-3-01-00<br>
            藥品名：IV-1<br>
            計算已滴數量:121<br>
            滴速(滴量/分鐘)：63<br>
            點滴袋容量：342/500ml<br>
            預測剩餘時間：00:32:46<br>
          </div>
          <div class="bgbox6"></div><br><br><br><br><br><br><br><br><br>
        </div>
        
      </div>
    </div>

    


  </ion-content>
</ion-view>